@media screen and (max-width: 17000px) {
    .timer-bar-container {
        margin-top: 26%;
        margin-left: 40%;
        margin-right: 40%;
    }
}

@media screen and (max-width: 1570px) {
    .timer-bar-container {
        margin-top: 30%;
        margin-left: 40%;
        margin-right: 40%;
    }
}

@media screen and (max-width: 1400px) {
    .timer-bar-container {
        margin-top: 28%;
        margin-left: 40%;
        margin-right: 40%;
    }
}

@media screen and (max-width: 1309px) {
    .txt{
        padding: 1rem;
        margin-top: -1.4rem;
        margin-left: 28rem;
        margin-left: 10rem;
        font-size: 1.3rem;
    }
    .rebet{
        font-size: 1.2rem;
    }
    .remove{
        font-size: 1.2rem;
    }
    .rebetX2{
        font-size: 1.2rem;
    }
    .timer-bar-container {
        border-radius: 2rem;
        width: 30%;
        height: 10px;
        margin-top: 30%;
        margin-left: 40%;
    }
}

@media screen and (max-width: 1300px) {
    .timer-bar-container {
        border-radius: 2rem;
        width: 30%;
        height: 10px;
        margin-top: 33%;
        margin-left: 40%;
    }   
}

@media screen and (max-width: 1250px) {
    .container h1{
        font-size: 1.5rem;
        width: 8.5rem;
    }
    .txt{
        padding: 1rem;
        margin-top: -1.4rem;
        margin-left: 28rem;
        margin-left: 10rem;
        font-size: 1.25rem;
    }
    .bet-add-drop{
        margin-top: -0.5rem;
    }
    .rebet{
        font-size: 1rem;
        height: 1.9rem;
    }
    .remove{
        font-size: 1rem;
        height: 1.9rem;
    }
    .rebetX2{
        font-size: 1rem;
        height: 1.9rem;
    }
    .timer-bar-container {
        top: 10%;
    }
    .tokens{
        left: 15%
    }
    .Primary-btn{
        font-size: 0.8rem;
    }
    .token1{
        transform: scale(0.85);
    }
    .token2{
        transform: scale(0.85);
    }
    .token3{
        transform: scale(0.85);
    }
    .token4{
        transform: scale(0.85);
    }
    .token5{
        transform: scale(0.85);
    }
    .token6{
        transform: scale(0.85);
    }
    .token7{
        transform: scale(0.85);
    }
    .cards {
        font-size: 1.2rem;
    }
    img {
        height: 1.7rem;
        width: 1.6rem;
    }
}

@media screen and (max-width: 1150px){
    .txt{
        margin:1rem;
    }
    .timer-bar-container {
        margin-top: 37%;
    }
    .tokens-outer{
        left: 20%;
    }
    .token1{
        transform: scale(0.80);
        margin-right: 0rem;
    }
    .token2{
        transform: scale(0.80);
        margin-right: 0rem;
    }
    .token3{
        transform: scale(0.80);
        margin-left: 0rem;
    }
    .token4{
        transform: scale(0.80);
        margin-left: -2rem;
        margin-right: 0rem;
    }
    .token5{
        transform: scale(0.80);
        margin-right: 0rem;
    }
    .token6{
        transform: scale(0.80);
        margin-right: 0rem;
    }
    .token7{
        transform: scale(0.80);
        margin-right: 0rem;
    }
    /* .buttons{
        left: 15%
    } */
    .ANK button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .SP button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .DP button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .TP button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .JODI button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .HSANGAM button {
        margin-left: 1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
        margin-left: 3rem;
    }
    .FSANGAM button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
    .PATTI button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.4rem;
        padding-bottom: 0.4rem;
    }
}

@media screen and (max-width:1092px) {
    .new-buttons{
      width: 75%;
    }
    .time-bar-outer-container
    {
      margin-top: 0;
    } 
}
  
@media screen and (max-width: 1060px){
    .timer-bar-container {
        margin-top: 40%;
    }
    .tokens {
        left: 18%;
    }
    .token1{
        transform: scale(0.80);
    }
    .token2{
        transform: scale(0.80);
    }
    .token3{
        transform: scale(0.80);
    }
    .token4{
        transform: scale(0.80);
    }
    .token5{
        transform: scale(0.80);
    }
    .token6{
        transform: scale(0.80);
    }
    .token7{
        transform: scale(0.80);
    }
    .token1:hover {
        transform: scale(1);
    }
    .token2:hover {
        transform: scale(1);
    }
    .token3:hover {
        transform: scale(1);
    }
    .token4:hover {
        transform: scale(1);
    }
    .token5:hover {
        transform: scale(1);
    }
    .token6:hover {
        transform: scale(1);
    
    }
    .token7:hover {
        transform: scale(1);
    }

    .ANK button {
        font-size: 0.8rem;
        margin-left: 1rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .SP button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .TP button {
        margin-left: -1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .JODI button {
        margin-left: -1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .HSANGAM button {
        margin-left: 2rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .FSANGAM button {
        margin-left: 0rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .PATTI button {
        margin-left: 0rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .cards {
        padding: 0.8rem;
        font-size: 1rem;
    } 
    .buttons {
        left: 18%;
    }
}

@media screen and (max-width: 1000px){
    .tokens {
        left: 18%;
    }
    .token1{
        transform: scale(0.70);
        margin-right: 0rem;
    }
    .token2{
        transform: scale(0.70);
        margin-right: 0rem;
    }
    .token3{
        transform: scale(0.70);
    }
    .token4{
        transform: scale(0.70);
        margin-right: 0rem;
    }
    .token5{
        transform: scale(0.70);
        margin-right: 0rem;
    }
    .token6{
        transform: scale(0.70);
        margin-right: 0rem;
    }
    .token7{
        transform: scale(0.70);
    }
    .token1:hover {
        transform: scale(0.85);
    }
    .token2:hover {
        transform: scale(0.85);
    }
    .token3:hover {
        transform: scale(0.85);
    }
    .token4:hover {
        transform: scale(0.85);
    }
    .token5:hover {
        transform: scale(0.85);
    }
    .token6:hover {
        transform: scale(0.85);
    
    }
    .token7:hover {
        transform: scale(0.85);
    }
    .buttons {
        left: 15%;
    } 
    .txt{
        margin-left: 6rem;
        font-size: 1.2rem;
    }
    .rebet{
        font-size: 1rem;
    }
    .remove{
        font-size: 1rem;
    }
    .rebetX2{
        font-size: 1rem;
    }
    .SP1{
        font-size: 0.9rem;
    }
    .SP2{
        font-size: 0.9rem;
    }
    .SP3{
        font-size: 0.9rem;
    }
    .SP4{
        font-size: 0.9rem;
    }
    .SP5{
        font-size: 0.9rem;
    }
    .SP6{
        font-size: 0.9rem;
    }
    .SP7{
        font-size: 0.9rem;
    }
    .SP8{
        font-size: 0.9rem;
    }
    .SP9{
        font-size: 0.9rem;
    }
    #angle {
        font-size: 1.1rem;
    }
    .SP1-options-set1 button{
        font-size: 0.8rem;
        margin-left: 4rem;
        height: 1.5rem;
        width: 4rem;
    }
    .SP1-options-set2 button{
        font-size: 0.8rem;
        margin-left: 4rem;
        height: 1.5rem;
        width: 4rem;
    }
    .SP2-options-set1 button{
        font-size: 0.8rem;
        margin-left: 4rem;
        height: 1.5rem;
        width: 4rem;
    }
    .SP2-options-set2 button{
        font-size: 0.8rem;
        margin-left: 4rem;
        height: 1.5rem;
        width: 4rem;
    }
          
}

@media screen and (max-width: 933px){   
    .timer-bar-container{
        margin-top: 46%;
        margin-left: 35%;
    }
    .txt{
        margin-left: 2rem;
        font-size: 1.2rem;
    }
    .buttons {
        left: 20%;
    }
}

@media screen and (max-width: 900px){
    .timer-bar-container{
        margin-top: 45%;
    }
    .buttons {
        left: 17%;
    }
    .tokens {
        left: 12%;
    }
    .SP1-options-set1 button{
        font-size: 0.75rem;
        margin-left: 3.5rem;
        height: 1.5rem;
        width: 3.5rem;
    }
    .SP1-options-set2 button{
        font-size: 0.75rem;
        margin-left: 3.5rem;
        height: 1.5rem;
        width: 3.5rem;
    }
    .SP2-options-set1 button{
        font-size: 0.75rem;
        margin-left: 3.5rem;
        height: 1.5rem;
        width: 3.5rem;
    }
    .SP2-options-set2 button{
        font-size: 0.75rem;
        margin-left: 3.5rem;
        height: 1.5rem;
        width: 3.5rem;
    }
}
@media screen and (max-width: 840px){
    .timer-bar-container{
        margin-top: 50%;
    }
    .tokens{
        left:10%;
    }
    .token1{
        transform: scale(0.65);
        margin-right: -1rem;
    }
    .token2{
        transform: scale(0.65);
        margin-right: -1rem;
    }
    .token3{
        transform: scale(0.65);
        margin-right: 0.5rem;
    }
    .token4{
        transform: scale(0.65);
        margin-right: -1.5rem;
    }
    .token5{
        transform: scale(0.65);
        margin-right: -1.5rem;
    }
    .token6{
        transform: scale(0.65);
        margin-right: -1.5rem;
    }
    .token7{
        transform: scale(0.65);
        /* margin-right: 0rem; */
    }
    .token1:hover {
        transform: scale(0.85);
    }
    .token2:hover {
        transform: scale(0.85);
    }
    .token3:hover {
        transform: scale(0.85);
    }
    .token4:hover {
        transform: scale(0.85);
    }
    .token5:hover {
        transform: scale(0.85);
    }
    .token6:hover {
        transform: scale(0.85);
    
    }
    .buttons{
        left:5%;
    }

}

@media screen and (max-width: 812px){
    .timer-bar-container{
        margin-top: 50%;
    }
    .buttons {
        left: 3%;
    }
    .tokens {
        left: 10%;
    }
}

@media screen and (max-width:786px) {
    .tokens-outer
    {
      left: 10%;
    }
    .new-buttons
    {
      width: 78%;
    }
    .time-bar-outer-container
    {
      margin-top: 0;
    }
  }
  

@media screen and (max-width:775px) {
    .container h1{
        font-size: 1.2rem;
        width: 7rem;
    }
    .buttons {
        left: 2.5%;
    }
    .tokens {
        left: 12%;
    }
    .cards {
        font-size: 0.8rem;
    }
    img{
        height: 1.5rem;
        width: 1.3rem;
    }
}

@media screen and (max-width: 757px) {
    .buttons {
        left: 2.5%;
    }
    .tokens {
        left: 10%;
    }
    .SP1{
        font-size: 0.8rem;
    }
    .SP2{
        font-size: 0.8rem;
    }
    .SP3{
        font-size: 0.8rem;
    }
    .SP4{
        font-size: 0.8rem;
    }
    .SP5{
        font-size: 0.8rem;
    }
    .SP6{
        font-size: 0.8rem;
    }
    .SP7{
        font-size: 0.8rem;
    }
    .SP8{
        font-size: 0.8rem;
    }
    .SP9{
        font-size: 0.8rem;
    }
    #angle {
        font-size: 1rem;
    }
    .SP1-options-set1 button{
        font-size: 0.7rem;
        margin-left: 3rem;
        height: 1.5rem;
        width: 3rem;
    }
    .SP1-options-set2 button{
        font-size: 0.7rem;
        margin-left: 3rem;
        height: 1.5rem;
        width: 3rem;
    }
    .SP2-options-set1 button{
        font-size: 0.7rem;
        margin-left: 3rem;
        height: 1.5rem;
        width: 3rem;
    }
    .SP2-options-set2 button{
        font-size: 0.7rem;
        margin-left: 3rem;
        height: 1.5rem;
        width: 3rem;
    }
}

@media screen and (max-width: 750px) {
    .txt{
        /* font-size: 1rem; */
        /* margin-right: 10%; */
    }
    .timer-bar-container{
        margin-top: 58%;
        margin-left: 30%;
    }
    .buttons {
        left: 5%;
    }
    .tokens {
        left: 10%;
    }
}
@media screen and (max-width: 742px){
    .buttons{
        left:1.5%;
    }
}
@media screen and (max-width: 716px) {
    .timer-bar-container{
        margin-top: 60%;
    }
    .ANK button {
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .SP button {
        margin-left: 0rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .TP button {
        margin-left: -2rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .DP button {
        margin-left: -1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .JODI button {
        margin-left: -2rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .HSANGAM button {
        margin-left: 2rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .FSANGAM button {
        margin-left: -1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .PATTI button {
        margin-left: -1rem;
        font-size: 0.8rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .tokens{
        margin-left:-2rem;
        padding-left: -2rem;
    }
    .token1{
        transform: scale(0.6);
        margin-right: -1rem;
      }
    .token2{
        transform: scale(0.6);
        margin-right: -1rem;
      }
    .token3{
        transform: scale(0.6);
        margin-right: 0.5rem;
      }
    .token4{
        transform: scale(0.6);
        margin-right: -1.5rem;
      }
    .token5{
        transform: scale(0.6);
        margin-right: -1.5rem;
      }
    .token6{
        transform: scale(0.6);
        margin-right: -1.5rem;
      }
    .token7{
        transform: scale(0.6);
    }
    .token1:hover {
        transform: scale(0.65);
    }
    .token2:hover {
        transform: scale(0.65);
    }
    .token3:hover {
        transform: scale(0.65);
    }
    .token4:hover {
        transform: scale(0.65);
    }
    .token5:hover {
        transform: scale(0.65);
    }
    .token6:hover {
        transform: scale(0.65);
    }
    .token7:hover {
        transform: scale(0.65);
    }
}

@media screen and (max-width: 667px){
    .timer-bar-container{
        margin-top: 65%;
        margin-left: 30%;
    }
    .txt{
        margin-left: 3%;
        font-size: 1rem;
    }
    .rebet{
        font-size: 0.9rem;
    }
    .remove{
        font-size: 0.9rem;
    }
    .rebetX2{
        font-size: 0.9rem;
    }

    .buttons {
        left: -0.5%;
    }
    .tokens {
        left: 7%;
    }
    .SP1-options-set1 button{
        font-size: 0.6rem;
        margin-left: 2.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP1-options-set2 button{
        font-size: 0.6rem;
        margin-left: 2.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP2-options-set1 button{
        font-size: 0.6rem;
        margin-left: 2.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP2-options-set2 button{
        font-size: 0.6rem;
        margin-left: 2.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
}
@media screen and (max-width: 650px){
    .buttons{
        left: -6%;
    }
    .ANK button{
        font-size: 0.55rem;
    }
    .SP button{
        font-size: 0.55rem;
    }
    .DP button{
        font-size: 0.55rem;
    }
    .TP button{
        font-size: 0.55rem;
    }
    .JODI button{
        font-size: 0.55rem;
    }
    .HSANGAM button{
        font-size: 0.55rem;
    }
    .FSANGAM button{
        font-size: 0.55rem;
    }
    .PATTI button{
        font-size: 0.55rem;
    }
}
@media screen and (max-width: 616px){
    .tokens{
        left:4%;
    }
}
@media screen and (max-width: 600px){
    .tokens{
        top: -5%;
        left: 15%;
    }
    .timer-bar-container{
        margin-top: 73%;
    }
    .token1{
        transform: scale(0.4);
        margin-right: -2.5rem;
    }
    .token2{
        transform: scale(0.4);
        margin-right: -2.5rem;
    }
    .token3{
        transform: scale(0.4);
        margin-left: -0.5rem;
    }
    .token4{
        transform: scale(0.4);
        margin-left: -3.5rem;
    }
    .token5{
        transform: scale(0.4);
        margin-left: -1.5rem;
    }
    .token6{
        transform: scale(0.4);
        margin-left: -2rem;
    }
    .token7{
        transform: scale(0.4);
        margin-left: -2rem;
    }
    .token1:hover {
        transform: scale(0.5);
    }
    .token2:hover {
        transform: scale(0.5);
    }
    .token3:hover {
        transform: scale(0.5);
    }
    .token4:hover {
        transform: scale(0.5);
    }
    .token5:hover {
        transform: scale(0.5);
    }
    .token6:hover {
        transform: scale(0.5);
    }
    .token7:hover {
        transform: scale(0.5);
    }
    .buttons{
        left:3%;
    }
    .ANK button {
        font-size: 0.6rem;
        margin-left: 1rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-right: -1rem;
    }
    .SP button {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-left: 0rem;
        margin-right: 0rem;
    }
    .DP button {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-left: -1rem;
        margin-right: 1rem;
    }
    .TP button {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-right: 1rem;
    }
    .JODI button {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .HSANGAM button {
        margin-left: 2rem;
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-right: -0.5rem;
    }
    .FSANGAM button {
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
        margin-right: 0rem;
    }
    .PATTI button {
        margin-left: -1rem;
        font-size: 0.6rem;
        padding-top: 0.4rem;
        padding-right: 1.3rem;
        padding-left: 1.2rem;
        padding-bottom: 0.4rem;
    }
    .cards {
        font-size: 0.8rem;
    }
    img{
        height: 1.3rem;
        width: 1.3rem;
    }
}

@media screen and (max-width:586px) {
    .tokens-outer
    {
      left: 15%;
    }
    .buttons
    {
      width: 100%;
    }
    .ANK button
    {
      margin-right: 0;
  
    }
    .new-buttons{
      width: 100%;
    }
    .buttons
    {
      padding: 0.5rem;
  
    }
    .Primary-btn
    {
      padding: 0.5rem;
      margin: 0.4rem;
      font-size: 0.8rem;
    }
    .time-bar-outer-container
    {
      margin-top: -10rem;
    }
    .bet-add-drop
    {
      width: 90%;
    }
    .txt
    {
      width: 100%;
    }
  }
    
@media screen and (max-width: 555px){
    .timer-bar-container{
        margin-top: 80%;
    }
    .tokens{
        top:-5%;
    }
    .token1{
        margin-right: -3.5rem;
    }
    .token2{
        margin-right: -3rem;
    }
    .token3{
        margin-right: 0rem;
    }
    .token4{
        margin-right: -2rem;
    }
    .token5{
        margin-right: -1.5rem;
    }
    .token6{
        margin-right: -1.5rem;
    }
    .buttons{
        left:0%;
    }
}

@media screen and (max-width: 538px){
    .ANK button {
        font-size: 0.55rem;
    }
    .SP button {
        font-size: 0.55rem;
    }
    .DP button {
        font-size: 0.55rem;
    }
    .TP button {
        font-size: 0.55rem;
    }
    .JODI button {
        font-size: 0.55rem;
    }
    .HSANGAM button {
        font-size: 0.55rem;
    }
    .FSANGAM button {
        font-size: 0.55rem;
    }
    .PATTI button {
        font-size: 0.55rem;
    }
}

@media screen and (max-width: 529px){
    .timer-bar-container{
        margin-top: 86%;
    }
    .ANK .btn1{
        padding-right: 1rem;
        padding-left: 1rem;
        background-color: red;
    }

    .ANK button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .SP button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .SP .btn2{
        padding-right: 1rem;
        padding-left: 1rem;
    }        
    .TP button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .DP button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .JODI button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .HSANGAM button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .FSANGAM button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
    .PATTI button {
        font-size: 0.6rem;
        padding-top: 0.3rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 0.3rem;
    }
}

@media screen and (max-width:480px) {
    .ANK button
    {
      margin-right: 0;
    }
    .new-buttons
    {
      width: 100%;
    }
    .tokens{
      min-height: 50vh;
    }
  }   

@media screen and (max-width: 470px) {
    .timer-bar-container{
        margin-top: 95%;
    }
    .txt{
        margin-top:-1rem;
        font-size: 0.8rem;
    }
    .rebet{
        font-size: 0.75rem;
    }
    .remove{
        font-size: 0.75rem;
    }
    .rebetX2{
        font-size: 0.75rem;
    }

    .ANK button {
        font-size: 0.45rem;
    }
    .SP button {
        font-size: 0.45rem;
    }       
    .TP button {
        font-size: 0.45rem;
    }
    .DP button {
        font-size: 0.45rem;
    }
    .JODI button {
        font-size: 0.45rem;
    }
    .HSANGAM button {
        font-size: 0.45rem;
    }
    .FSANGAM button {
        font-size: 0.45rem;
    }
    .PATTI button {
        font-size: 0.45rem;
    }
    .cards{
        padding: 0.3rem;
        font-size: 0.7rem;
    }
    img{
        height: 1rem;
        width: 1rem;
    }
    .SP1-options-set1 button{
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }
    .SP1-options-set2 button{
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }
    .SP2-options-set1 button{
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }
    .SP2-options-set2 button{
        font-size: 0.5rem;
        margin-left: 1.5rem;
    }
    
}
@media screen and (max-width:451px){
    .tokens{
        left: 10%;
    }
}

@media screen and (max-width:435px) {
    .timer-bar-container{
        margin-top: 108%;
    }
    .tokens{
        left: 5%;
    }
    .token1{
        transform: scale(0.4);
    }
    .token2{
        transform: scale(0.4);
        margin-left: 0rem;
    }
    .token3{
        transform: scale(0.4);
        margin-left: -0.5rem;
    }
    .token4{
        transform: scale(0.4);
        margin-left: -3.5rem;
    }
    .token5{
        transform: scale(0.4);
        margin-left: -1.5rem;
    }
    
    .token6{
        transform: scale(0.4);
        margin-left: -2rem;
    }
    .token7{
        transform: scale(0.4);
        margin-left: -2rem;
    }
    .token1:hover {
        transform: scale(0.45);
    }
    .token2:hover {
        transform: scale(0.45);
    }
    .token3:hover {
        transform: scale(0.45);
    }
    .token4:hover {
        transform: scale(0.45);
    }
    .token5:hover {
        transform: scale(0.45);
    }
    .token6:hover {
        transform: scale(0.45);
    }
    .token7:hover {
        transform: scale(0.45);
    }

    .ANK button {
        font-size: 0.45rem;
        margin-right: -1.5rem;
    }
    .SP button {
        font-size: 0.45rem;
    }       
    .DP button {
        font-size: 0.45rem;
        margin-left: -1.5rem;
    }
    .TP button {
        font-size: 0.45rem;
        margin-left: -2.5rem;
    }
    .JODI button {
        font-size: 0.45rem;
        margin-left: -2.5rem;
    }
    .HSANGAM button {
        margin-left:1.2rem;
        font-size: 0.45rem;
    }
    .FSANGAM button {
        font-size: 0.45rem;
        margin-left: -1.1rem;
    }
    .PATTI button {
        font-size: 0.45rem;
        margin-left: -1.7rem;
    }

    .SP1{
        font-size: 0.7rem;
    }
    .SP2{
        font-size: 0.7rem;
    }
    .SP3{
        font-size: 0.7rem;
    }
    .SP4{
        font-size: 0.7rem;
    }
    .SP5{
        font-size: 0.7rem;
    }
    .SP6{
        font-size: 0.7rem;
    }
    .SP7{
        font-size: 0.7rem;
    }
    .SP8{
        font-size: 0.7rem;
    }
    .SP9{
        font-size: 0.7rem;
    }
    #angle {
        font-size: 0.9rem;
    }
    .SP1-options-set1 button{
        margin-left: 1.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP1-options-set2 button{
        margin-left: 1.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP2-options-set1 button{
        margin-left: 1.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
    .SP2-options-set2 button{
        margin-left: 1.5rem;
        height: 1.5rem;
        width: 2.5rem;
    }
}
@media screen and (max-width:403px) {
    .timer-bar-container{
        margin-top: 115%;
    }
    .tokens{
        left:10%;
    }
    .token1{
        transform: scale(0.3);
        margin-right: -1rem;
    }
    .token2{
        transform: scale(0.3);
        margin-left: -3rem;
    }
    .token3{
        transform: scale(0.3);
        margin-left: -1.2rem;
    }
    .token4{
        transform: scale(0.3);
        margin-left: -4rem;
    }
    .token5{
        transform: scale(0.3);
        margin-left: -2.2rem;
    }
    
    .token6{
        transform: scale(0.3);
        margin-left: -2.8rem;
    }
    .token7{
        transform: scale(0.3);
        margin-left: -3rem;
    }
    .ANK button {
        font-size: 0.35rem;
        margin-right: -2rem;
    }
    .SP button {
        font-size: 0.35rem;
    }       
    .DP button {
        font-size: 0.35rem;
        margin-left: -2rem;
    }
    .TP button {
        font-size: 0.35rem;
        margin-left: -3rem;
    }
    .JODI button {
        font-size: 0.35rem;
        margin-left: -3rem;
    }
    .HSANGAM button {
        margin-left:1.2rem;
        font-size: 0.35rem;
    }
    .FSANGAM button {
        font-size: 0.35rem;
        margin-left: -1.5rem;
    }
    .PATTI button {
        font-size: 0.35rem;
        margin-left: -2rem;
    }
}

@media screen and (max-width: 353px) {
    .timer-bar-container{
        margin-top: 135%;
    }
    .tokens{
        left:10%;
    }
    .token1{
        transform: scale(0.25);
    }
    .token2{
        transform: scale(0.25);
        margin-left: -3.5rem;
    }
    .token3{
        transform: scale(0.25);
        margin-left: -1.5rem;
    }
    .token4{
        transform: scale(0.25);
        margin-left: -4.5rem;
    }
    .token5{
        transform: scale(0.25);
        margin-left: -2.5rem;
    }
    .token6{
        transform: scale(0.25);
        margin-left: -3.3rem;
    }
    .token7{
        transform: scale(0.25);
        margin-left: -3.1rem;
    }
    .ANK button {
        font-size: 0.28rem;
        margin-right: -2rem;
    }
    .SP button {
        font-size: 0.28rem;
    }       
    .DP button {
        font-size: 0.28rem;
        margin-left: -2rem;
    }
    .TP button {
        font-size: 0.28rem;
        margin-left: -3rem;
    }
    .JODI button {
        font-size: 0.28rem;
        margin-left: -3rem;
    }
    .HSANGAM button {
        margin-left:1.2rem;
        font-size: 0.28rem;
    }
    .FSANGAM button {
        font-size: 0.28rem;
        margin-left: -1.5rem;
    }
    .PATTI button {
        font-size: 0.28rem;
        margin-left: -2rem;
    }
}